<main id="main">
  <!-- Hero Section - Home Page -->
  <section id="hero" class="hero">
    <img src="assets/img/hero4.jpg" alt="" data-aos="fade-in" />

    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 data-aos="fade-up" data-aos-delay="100">Ship with Confidence</h2>
          <p data-aos="fade-up" data-aos-delay="200">
            Philipwhite - One Package, Countless Memories
          </p>
        </div>
        <div class="col-lg-5">
          <form
            action="/tracking"
            class="sign-up-form d-flex"
            data-aos="fade-up"
            data-aos-delay="300"
            method="get"
          >
            <input
              type="text"
              name="q"
              class="form-control"
              placeholder="Tracking Number"
            />
            <input type="submit" class="btn btn-primary" value="Track" />
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Clients Section - Home Page -->
  <section id="clients" class="clients">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/ups.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/fedex.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/dtdc.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/australia.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/canada.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/img/brands/royal.png" class="img-fluid" alt="" />
        </div>
        <!-- End Client Item -->
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- About Section - Home Page -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">
        <div class="col-xl-5 content">
          <h3>About Us</h3>
          <h2>About Philipwhite Shipping Company</h2>
          <p>
            At Philipwhite Shipping, we are more than just a courier service –
            we are your dedicated partner in seamless global logistics. With a
            passion for connecting people and businesses worldwide, we have
            built a reputation for reliability, efficiency, and a commitment to
            excellence.
          </p>
          <h3>Our Story</h3>
          <p>
            Philipwhite Shipping has evolved from a local shipping company to a
            global logistics powerhouse. Our journey began with a vision to
            simplify the complexities of international shipping, providing a
            trusted and efficient solution for businesses and individuals alike.
          </p>
        </div>

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <i class="bi bi-globe"></i>
                <h3>Express Worldwide Shipping</h3>
                <p>
                  Guaranteed fast and reliable international shipping services
                  to get your parcels delivered promptly.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Real-Time Package Tracking</h3>
                <p>
                  Track your shipments in real-time with our advanced tracking
                  system, providing you with accurate and up-to-date
                  information.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="fas fa-handshake"></i>
                <h3>Global Network of Partners</h3>
                <p>
                  Benefit from our extensive global network, reaching every
                  corner of the world for seamless door-to-door delivery.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="fas fa-headset"></i>
                <h3>Dedicated Customer Support</h3>
                <p>
                  24/7 customer support ready to assist you with any inquiries,
                  tracking updates, or shipping concerns.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Stats Section - Home Page -->
  <section id="stats" class="stats">
    <img src="assets/img/container.jpg" alt="" data-aos="fade-in" />

    <div
      class="container position-relative"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="12567"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Clients</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="141"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Global Reach</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="4792"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span
              data-purecounter-start="0"
              data-purecounter-end="14234"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Packages Shipped Monthly</p>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- End Stats Section -->

  <!-- Features Section - Home Page -->
  <section id="solutions" class="features">
    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Transportation Solutions</h2>
      <p>
        Discover the diverse transportation means offered by Philipwhite
        Shipping Company to meet your unique shipping needs:
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div
        class="row gy-4 align-items-stretch justify-content-between features-item"
      >
        <div
          class="col-lg-5 d-flex justify-content-center flex-column"
          data-aos="fade-up"
        >
          <h3>Air Freight Services</h3>
          <p>
            Experience the speed and efficiency of air freight for your
            time-sensitive shipments. Our global air network ensures rapid and
            reliable deliveries to destinations around the world.
          </p>
        </div>
        <div
          class="col-lg-6 d-flex align-items-center features-img-bg"
          data-aos="zoom-out"
        >
          <img src="assets/img/plane.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- Features Item -->
      <div
        class="row gy-4 align-items-stretch justify-content-between features-item"
      >
        <div
          class="col-lg-6 d-flex align-items-center features-img-bg"
          data-aos="zoom-out"
        >
          <img src="assets/img/cargo.jpg" class="img-fluid" alt="" />
        </div>
        <div
          class="col-lg-5 d-flex justify-content-center flex-column"
          data-aos="fade-up"
        >
          <h3>Sea Freight Services</h3>
          <p>
            For larger shipments and cost-effective transportation, our sea
            freight services provide reliable and secure transportation across
            oceans. Benefit from our extensive maritime logistics expertise.
          </p>
        </div>
      </div>
      <!-- Features Item -->
      <div
        class="row gy-4 align-items-stretch justify-content-between features-item"
      >
        <div
          class="col-lg-5 d-flex justify-content-center flex-column"
          data-aos="fade-up"
        >
          <h3>Ground Transportation Services</h3>
          <p>
            Locally or regionally, our ground transportation services offer
            efficient and timely deliveries. Utilize our network of trucks and
            carriers for reliable door-to-door transportation.
          </p>
        </div>
        <div
          class="col-lg-6 d-flex align-items-center features-img-bg"
          data-aos="zoom-out"
        >
          <img src="assets/img/ground.jpg" class="img-fluid" alt="" />
        </div>
      </div>

      <div
        class="row gy-4 align-items-stretch justify-content-between features-item"
      >
        <div
          class="col-lg-6 d-flex align-items-center features-img-bg"
          data-aos="zoom-out"
        >
          <img src="assets/img/warehouse.jpg" class="img-fluid" alt="" />
        </div>
        <div
          class="col-lg-5 d-flex justify-content-center flex-column"
          data-aos="fade-up"
        >
          <h3>Warehousing and Distribution</h3>
          <p>
            Streamline your logistics with our warehousing and distribution
            services. Benefit from strategically located warehouses for
            efficient storage, order fulfillment, and distribution.
          </p>
        </div>
      </div>
      <!-- Features Item -->
    </div>
  </section>
  <!-- End Features Section -->

  <!-- Faq Section - Home Page -->
  <section id="faq" class="faq">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3>
                <span class="num">1.</span>
                <span>How can I track my shipment in real-time?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Tracking your shipment is easy! Simply visit our website and
                  enter your tracking number on the dedicated tracking page. Our
                  advanced system provides real-time updates on the status and
                  location of your package.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">2.</span>
                <span>What shipping options do you offer?</span>
              </h3>
              <div class="faq-content">
                <p>
                  We provide a range of shipping options to suit your needs,
                  including standard, express, and economy services. You can
                  choose the option that best fits your timeline and budget
                  during the online booking process.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">3.</span>
                <span
                  >Are there any environmentally friendly shipping
                  options?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  Absolutely! We are committed to sustainability. You can opt
                  for our eco-friendly shipping options, including sustainable
                  packaging and carbon-neutral shipping, as part of our efforts
                  to minimize our environmental impact.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">4.</span>
                <span
                  >How do I file a claim for a lost or damaged package?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  In the rare event of a lost or damaged package, please contact
                  our customer support team immediately. We will guide you
                  through the claims process and work to resolve the issue
                  promptly. Your satisfaction is our priority.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">5.</span>
                <span
                  >What countries do you cover in your global shipping
                  network?</span
                >
              </h3>
              <div class="faq-content">
                <p>
                  Our global network spans across continents, covering a wide
                  range of countries and regions. Whether your destination is in
                  North America, Europe, Asia, or elsewhere, we likely have it
                  covered. You can check the list of serviced countries on our
                  website or contact our customer support for specific
                  inquiries.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Faq Section -->

  <!-- Team Section - Home Page -->
  <section id="team" class="team">
    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Team</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-5">
        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="member-img">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Philip White</h4>
            <span>Chief Executive Officer(CEO)</span>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="member-img">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Emily Rodriguez</h4>
            <span>Chief Operating Officer (COO)</span>
          </div>
        </div>
        <!-- End Team Member -->
        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="member-img">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>William Anderson</h4>
            <span>CTO</span>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="member-img">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Sarah Thompson</h4>
            <span>Head Of Logistics</span>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="member-img">
            <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Brian Doe</h4>
            <span>Customer Support Manager</span>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <div class="member-img">
            <img src="assets/img/team/team-6.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Josepha Palas</h4>
            <span>Shipping Coordinator</span>
          </div>
        </div>
        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- Contact Section - Home Page -->
  <section id="contact" class="contact">
    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Get in touch with us</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="row gy-4">
            <div class="col-md-4">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>23 Bawtry Close,Manchester,United Kingdom</p>
                <p>Manchester, UK</p>
              </div>
            </div>
            <!-- End Info Item -->
            <div class="col-md-4">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com</p>
                <p>philipwhiteshipping.com</p>
              </div>
            </div>
            <!-- End Info Item -->
            <div class="col-md-4">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday</p>
                <p>9:00AM - 05:00PM</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
