<section id="hero" class="hero">
  <img src="assets/img/hero4.jpg" alt="" data-aos="fade-in" />
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">Track Your Parcel</h2>
      </div>
      <div class="col-lg-5">
        <form
          action="/tracking"
          class="sign-up-form d-flex"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <input
            type="text"
            class="form-control"
            placeholder="Tracking Number"
            name="q"
          />
          <input type="submit" class="btn btn-primary" value="Track" />
        </form>
      </div>
    </div>
  </div>
</section>
